.subheader{
    text-align:center;
    background-color: black;
    width:200px;
    height:30px;
    line-height:30px;
    color:white;
    position:relative;
}

.subheader:before{
    content:"";
    width:0px;
    height:0px;
    border-top:30px solid black;
    border-left:30px solid transparent;
    position:absolute;
    right:100%;
    top:0px;
}

.subheader:after{
    content:"";
    width:0px;
    height:0px;
    border-top:30px solid black;
    border-right:30px solid transparent;
    position:absolute;
    left:100%;
    top:0px;
}

.title{
    text-align:center;
    background-color: black;
    width:100%;
    height:50px;
    line-height:50px;
    color:white;
    margin:-50px auto;
    position:relative;
}

.title:before{
    content:"";
    width:0px;
    height:0px;
    border-top:50px solid black;
    border-left:50px solid transparent;
    position:absolute;
    right:100%;
    top:0px;
}

.title:after{
    content:"";
    width:0px;
    height:0px;
    border-top:50px solid black;
    border-right:50px solid transparent;
    position:absolute;
    left:100%;
    top:0px;
}

#navbarDropdown:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

#navbarDropdown:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

.sexy_line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#000), to(#fff));
}